<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <nav>
        <a href="/" class="nav-button">Home</a>
    </nav>
    <body>
        {{{body}}}
    </body>
</html>