<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <nav>
<<<<<<< HEAD
        <a href="/" class="nav-button">Home</a>
=======
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
>>>>>>> 2f03b0047982c9f8c775af79603c21dde05058e0
    </nav>
    <body>
        {{{body}}}
    </body>
</html>