<main>
    <div>
        <label for="collaborators">Choose collaborators:</label>
        <select name="collaborators" id="collaborators" multiple>
            {{#each users}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
</main>