<main>
    <div><h1>All Project Boards</h1></div>
    <section class="ProjectsList">
        {{#each projects}}
        <a href="/project_board/{{this.id}}">
        <h2 class="ProjectCard">{{this.name}}</h2>
        {{/each}}
    </section>
</main>
