<head>
    <style>
        label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }
    </style>
</head>

<body>
    <main>
    <div>
        <h1 style="padding-top: 100px;">Edit Task in {{project.name}}</h1>
    </div>
</body>
