<head>
    <style>
       .edit_task {
      padding: 20px;
      text-align: center;
      background-color: rgb(255, 255, 255);
      background-image: linear-gradient(#e6b2b2,rgb(247, 246, 187),rgb(247, 246, 187),rgb(214, 247, 187),rgb(214, 247, 187), white);
      color: black;
      font-size: 30px;
      position: fixed;
      top: 6.5%;
      left: -3%;
      width: 100%;
    }

    </style>
</head>
<main>
    <div class="edit_task"><h1>Edit Task</h1></div>
</main>