<head>
    <style>
       .edit_task {
      padding: 20px;
      text-align: center;
      background-color: rgb(255, 255, 255);
      background-image: linear-gradient(#e6b2b2,rgb(247, 246, 187),rgb(247, 246, 187),rgb(214, 247, 187),rgb(214, 247, 187), white);
      color: black;
      font-size: 30px;
      position: fixed;
      top: 6.5%;
      left: -3%;
      width: 100%;
    }
       .task_name{
     border-radius: 5px;
     background-color: rgb(247, 246, 187);
     padding: 20px;
     text-align: center;

      box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
     0 1px 1px rgba(128, 128, 128, 0.155),
     0 2.1px 2.1px rgba(128, 128, 128, 0.195),
     0 4.4px 4.4px rgba(128, 128, 128, 0.241),
     0 12px 12px rgba(128, 128, 128, 0.35);
    }

    </style>
</head>
<main>
    <div class="edit_task"><h1>Edit Task</h1></div>

    <form class="task_name" action="/project_board" method="POST">
            <label>Task Name</label>
            <input name="name" type="text" min="3" max="100" placeholder="Task Name" required/>
            <br>
            <button>Submit</button>
            <br>
            <label>Cancel</label>
            <br>
            <button><a href="/project_board">View All</a></button>
            <br>
          </form>

          </form>
</main>