<main>
    <div><h1>Welcome to Kanban</h1></div>
    <aricle>
        <form action="/add_user" method="POST">
            <label>Create a new user</label>
            <input name="name" type="text" placeholder="User's name" required/>
            <br>
            <label>Image URL</label>
            <input name="image" type="url" placeholder="Image URL" required/>
            <br>
            <button>Add user</button>
        </form>
    </aricle>
</main>
