<head>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
  <img class="center" src="https://live.staticflickr.com/65535/50518518868_d52f3aff6b_o.png" style="width: 500px; padding-top: 80px;">
  <div>
    <a href="/landing_page2"><button class="center" style="font-size: 30px;">Enter ></button></a>
  </div>
</body>