<main>
    <div><h1>{{project.name}}</h1></div>
    <hr>
    <section>
        <h2>People on the project:</h2>
        {{#each users}}
        {{this.name}}
        <br>
        {{/each}}
    </section>
    <hr>
    <a href="/project_board/{{project.id}}/add_collaborator"><button>Add Collaborator</button></a>
    <a href="/project_board/{{project.id}}/add_task"><button>Add Task</button></a>
</main>
