<main>
    <div><h1>{{project.name}}</h1></div>
    <a href="/project_board/{{project.id}}/add-collaborator"><button>Add  Collaborator</button></a>
    <a href="/project_board/{{project.id}}/add-task"><button>Add Task</button></a>
</main>