/* Styling for all pages */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}
body {
    background: #3aafa9;
}
nav {
    background-color: #feffff;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    color: black;
    display: block;
    width: 100px;
    padding: 4px 6px;
    float: left;
    text-align: center;
}
nav a:hover {
    background-color: #17252a;
    color: white;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 20px;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
button {  
    margin: 10px;
    cursor: pointer;
    background-color: #def2f1;
    padding: 5px;
    border-color: #17252a;
    border-style: solid;
} 
input[type=text],input[type=url]{
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgba(26, 25, 25, 0.753);
    border-radius: 4px;
    box-sizing: border-box;
}

/* Styling for entrance page */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Styling for landing page2 */
.logo {
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 70px;
}
.lp-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lp-forms {
    border-radius: 5px;
    width: 250px;
    height: 240px;
    background-color: #feffff;
    padding: 20px;
    margin: 1rem;
    text-align: center;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
      0 1px 1px rgba(128, 128, 128, 0.155),
      0 2.1px 2.1px rgba(128, 128, 128, 0.195),
      0 4.4px 4.4px rgba(128, 128, 128, 0.241),
      0 12px 12px rgba(128, 128, 128, 0.35);
}

/* All Project Board Styling */
.ProjectsList {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: none;
    padding: 3rem;
    gap: 3rem;
}
.ProjectCard {
    background-color:#feffff;
    height: 180px;
    width: 250px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border-width: 10px;
    border-top-style: solid;
    border-top-color: #17252a;
    border-radius: 5px;
}
.ProjectCard:hover{
    box-shadow : 0 8px 16px 0 black, 
             0 6px 20px  0 rgba(0, 0, 0, 0.1); 
}

/* Single Project Board Styling */
.ProjectHeader {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: none;
}
.ProjectName {
    margin: 2rem;
    background-color: #feffff;
    border-top-color: #17252a;
    border-top-width: 10px;
    border-top-style: solid;
    border-radius: 5px;
    min-height: 100px;
}
.ProjectName h1 {
    text-align: center;
    padding-top: 20px;
}
.ProjectName h3 {
    padding: 10px;
}
.ProjectPeople {
    margin: 2rem;
    background-color: #feffff;
    border-top-color: #17252a;
    border-top-width: 10px;
    border-top-style: solid;
    border-radius: 5px;
    min-height: 100px;
}
.ProjectPeople h3 {
    padding: 10px;
}
.icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-size: cover;
    margin: 5px;
}
.iconalignment {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: none;
    padding: 10px;
}
.plus-button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    font-size: 15px;
    border-color: #17252a;
}
.ProjectColumnGrid {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: none;
    min-height: 200px;
}
.ProjectColumns {
    margin: 2rem;
    border-radius: 5px;
}
.ProjectColumns h3 {
    text-align: center;
    margin: 1rem;
}
.todosection {
    background-color: #def2f1;
    border-top-color: #2b7a78;
    border-top-width: 10px;
    border-top-style: solid;
    border-radius: 5px;
}
.todosection-top {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: none;
}
.doingsection {
    background-color: #def2f1;
    border-top-color: #2b7a78;
    border-top-width: 10px;
    border-top-style: solid;
    border-radius: 5px;
}
.donesection {
    background-color: #def2f1;
    border-top-color: #2b7a78;
    border-top-width: 10px;
    border-top-style: solid;
    border-radius: 5px;
}
.taskwrapper {
    width: auto;
    height: auto;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-areas: 
    "priority title delete"
    "task task task"
    "edit deadline person";
}
.taskbutton {
    margin: 5px;
    cursor: pointer;
    background-color: white;
    padding: 5px;
    font-size: 20px;
    border:none;
    outline:none;
}
.taskpriority {
    grid-area: priority;
}
.priority[priority="Blocker"]:after {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    content: url(https://live.staticflickr.com/65535/50516208752_d99fdde215_o.png);
    zoom: 10%;
}
.priority[priority="High"]:after {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    content: url(https://live.staticflickr.com/65535/50516207252_c94bfe08c4_o.png);
    zoom: 10%;
}
.priority[priority="Medium"]:after {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    content: url(https://live.staticflickr.com/65535/50516207227_224f28741e_o.png);
    zoom: 10%;
}
.priority[priority="Low"]:after {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    content: url(https://live.staticflickr.com/65535/50516039886_0f66fd83bb_o.png);
    zoom: 10%;
}
.tasktitle {
    grid-area: title;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
}
.taskdelete {
    grid-area: delete;
}
.taskdesc {
    grid-area: task;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.taskdesctext {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.taskedit {
    grid-area: edit;
}
.taskdeadline {
    grid-area: deadline;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
}
.taskperson {
    grid-area: person;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-size: cover;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-size: 13px;
    background-color: #20a7ad;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0; 
/* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Add Task, Edit Task and Add Collab Page Styling */
.structure-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-structure {
    width: 400px;
    border-radius: 5px;
    background-color: #def2f1;
    padding: 20px;
    text-align: center;
     box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
}