* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.body {
    background-color: white;
}
nav {
    background-color: #fdfd96;
    padding: 1.5rem;
}
nav a {
    color: black;
}
nav a:hover {
    background-color: white;
}